body {
    text-align: center;
    background-color: lightblue;
    font-size: large;
}

ul {
    display: inline-block;
    text-align: left;
    margin-block: auto;
}

h5{
    text-decoration: underline;
}

.school {
    font-style:oblique;
    color: rgb(235, 152, 28);
}



.fav {
    border-color: blueviolet;
    border-width: 2px;
    border-style: dashed;
}

.suv {
    width: 30%
}

.final5 {
    text-decoration: underline;
}

#About {
    border-style: solid;
    width: 30%;
    border-radius: 5px;
    margin: 10px;
    float: right;
}
